*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient( 120deg,  rgba(37,118,116,1) 10.5%, rgba(39,220,96,1) 68.5% );
    min-height: 100vh;
    font-family: "Poppins",sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #323535;
}

.container{
    width: 100%;
    max-width: 1200px;
    background-color:rgb(229, 250, 235);;
    padding: 2rem;
    border-radius: 24px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

h1{
    text-align: center;
    color: #121313;
    margin-bottom: 10px;
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: -0.5px;
}

h2{
    color: #212424;
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
    font-weight: 550;
    letter-spacing: -0.5px;
}

.match-info{
    background: rgb(213, 255, 226);
    text-align: center;
    margin-bottom: 35px;
    padding: 24px;
    border-radius: 2rem;
    box-shadow: 0px 0px 10px rgba(0.1, 0.1, 0.1, 0.1);
}

.match-info h3{
    margin-bottom: 8px;
    margin-top: 10px;
    font-weight: 505;
    letter-spacing: -0.5px;
}

.team-name{
    display: flex;
    justify-content: center;
    align-items: center;
}

.team{
    padding: 25px;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0.1, 0.1, 0.1, 0.1);
}
